@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}
html,body,
   #app{height: 100%; 
}


.left-side{
  padding-right: 108px;
  padding-top: 65px;
  padding-bottom: 59px;
  padding-left: 65px;
}
.left-side{
  width: 52%;
}
.right-side{
  width: 48%;
  background-image: url(/images/image-header-desktop.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.stats{
  width: 90%;
  font-size: 1.2rem;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsl(277, 90%, 24%);
  opacity: 0.6;
}
h1{
  font-size: 2rem;
}
p{
  font-size: 0.8rem;
  line-height: 1.7;
}
.title-value{
  margin-top: 11px;
}
@media screen and (max-width: 800px) {
 
.card-cont {
  flex-direction: column-reverse;
  width: 100%;
}
.left-side,
.right-side{
  width: 100%; 
  box-sizing: border-box; 
}
.stats{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
}
.left-side{
  padding: 0;
  padding:45px 32px 0px 35px;

}
.right-side{
  height:240px;
  background-image: url(/images/image-header-mobile.jpg);

}
h1{
  text-align: center;
  font-size: 1.7rem;
}
p{
  display: flex;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.7;
}
.first-value{
  margin-bottom: 35px;
}
.title-value{
  margin-top: 13px;
  font-size: 0.7rem;
}

#app{height: auto;
padding: 25px;
}
}
